* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 0 0 30px 0;
}

h1 {
    text-align: center;
}

#grid  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80vw;
    height: 80vw;
    max-width: 80vh;
    max-height: 80vh;
    margin: auto;
}

.grid-item {
    border: 5px solid black;
}

.grid-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

footer {
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}